.DS_Store
.AppleDouble
.LSOverride
[Dd]esktop.ini
$RECYCLE.BIN/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.work
/Godeps/
.idea
.fleet
.vscode
__debug*

cmd/experiments
sberhack
!cmd/sberhack
sberhack_DEBUG

.env
config/config.yaml
build/nginx/nginx.conf
build/nginx/conf.d/default.conf

.mnt
.tmp
