.DS_Store
.AppleDouble
.LSOverride
[Dd]esktop.ini
$RECYCLE.BIN/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.work
/Godeps/
.idea
.fleet
.vscode
__debug*

cmd/experiments
sberhack
sberhack_DEBUG
.env
