POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=user
POSTGRES_PORT=5432

DELVE_PORT=2345

VITE_API_BASE_URL=https://sdprovider.ru

PUBLIC_DOMAIN=sdprovider.ru
CERTBOT_EMAIL=user@example.com

REMOTE_USERNAME=remote_user
REMOTE_HOSTNAME=remote_host
